{{- $ff := resources.Get "css/fontfaces.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $ff.RelPermalink }}" integrity="{{ $ff.Data.Integrity }}" media="screen">
{{- $color := resources.Get "css/color-default.css" }}
{{/* Use alternative color scheme if available */}}
{{- with resources.Get "css/color.css" }}
  {{- $color = . }}
{{- end }}
{{- if not (eq site.Params.postcss false) }}
  {{- $color = $color | css.PostCSS }}
{{- end }}
{{ if hugo.IsProduction }}
  {{- $color = $color | fingerprint | resources.PostProcess }}
{{- end }}
<link rel="stylesheet" href="{{ $color.RelPermalink }}" integrity="{{ $color.Data.Integrity }}" media="screen">
{{- $screen := resources.Get "css/screen.css" }}
{{- if not (eq site.Params.postcss false) }}
  {{- $screen = css.PostCSS $screen }}
{{- end }}
{{ if hugo.IsProduction }}
  {{- $screen = $screen | fingerprint | resources.PostProcess }}
{{- end }}
<link rel="stylesheet" href="{{ $screen.RelPermalink }}" integrity="{{ $screen.Data.Integrity }}" media="screen">
{{- $custom := resources.Match "css/custom/*.css" }}
{{ with $custom }}
  {{- $custom = . | resources.Concat "css/custom.css" }}
  {{- if not (eq site.Params.postcss false) }}
    {{- $custom = css.PostCSS $custom }}
  {{- end }}
  {{ if hugo.IsProduction }}
    {{- $custom = $custom | fingerprint | resources.PostProcess }}
  {{- end }}
  <link rel="stylesheet" href="{{ $custom.RelPermalink }}" integrity="{{ $custom.Data.Integrity }}" media="screen">
{{ end }}
