{{- define "main" -}}
    <div id="l-content-box" class="l-box l-box--full">
        <section data-pagefind-body>
            <header class="page-header page-header--left">
                <div id="author">
                    <div id="author__portrait">{{- partial "img/portrait.html" .Page }}</div>
                    <div id="author__title">
                        {{- partial "title/author.html" .Page }}
                    </div>
                    <div id="author__description">{{ partial "title/profession.html" .Page }}</div>
                    <div id="author__follow">{{ partial "nav/author/follow-links.html" .Page }}</div>
                    <div id="author__contact">{{ partial "nav/author/contact-links.html" .Page }}</div>
                </div>
                {{- partial "img/featured.html" .Page }}
            </header>
            {{ with .Content }}
                <div class="md md--sans md--margin-full md--h-serif md--list">
                    {{- partial "replacements.html" . -}}
                </div>
            {{ end }}
        </section>
        <section class="section">
            <hr>
            <h2>Latest Contributions</h2>
            {{- page.Scratch.Set "level" 3 -}}
            {{ with first 6 .RegularPages.ByDate.Reverse }}
                <nav class="card-nav card-nav--3 card-nav--top margin-full">
                    <ul class="card-nav__list">
                        {{- range . -}}
                            <li class="card card--1 card--1--col ">
                                <div class="card__hover">{{- .Render "li-card-1-col-img" -}}</div>
                            </li>
                        {{- end -}}
                    </ul>
                </nav>
            {{ end }}
        </section>
    </div>
{{- end -}}
{{ define "footer" -}}
    <footer id="l-footer" class="l-box margin-full">
        {{- partial "footer/site.html" . -}}
    </footer>
{{ end -}}
