{{ with .Site.GetPage "site/footer" }}
    {{- with .Pages }}
      <div class="l-footer__columns">
          {{- range . }}
            <div class="md md--footer md--frame footer__col">
              <h2>{{ .Title | site.Home.RenderString }}</h2>
                {{ partial "replacements.html" .Content }}
            </div>
          {{- end }}
      </div>
    {{- end }}
{{- end }}
