<nav class="page-nav">
  <ul class="page-nav__list">
      {{ $pages := where (site.RegularPages.ByDate) "Section" .Section -}}
      {{ with $pages.Prev . }}
        <li class="page-nav__li"><a href="{{ .RelPermalink }}" class="page-nav__link page-nav__link--prev link link--nav">
            <span class="page-nav__icon"></span>
            {{ partial "nav/page/title.html" . }}
            <span class="page-nav__icon page-nav__icon--arrow">
                {{- partial "material-symbol" (dict "id" "west" "ctx" . "size" "normal") -}}
            </span>
          </a></li>
      {{ else }}
          {{ with .FirstSection }}{{ template "start" . }}{{ end }}
      {{- end -}}
      {{ with $pages.Next . }}
        <li class="page-nav__li">
          <a href="{{ .RelPermalink }}" class="page-nav__link page-nav__link--next link link--nav">
              <span class="page-nav__icon"></span>
              {{ partial "nav/page/title.html" . }}
            <span class="page-nav__icon page-nav__icon--arrow">
                {{- partial "material-symbol" (dict "id" "east" "ctx" . "size" "normal") -}}
            </span>
          </a></li>
      {{ else }}
          {{ with .FirstSection }}{{ template "end" . }}{{ end }}
      {{- end -}}
  </ul>
</nav>

{{ define "start" }}
  <li class="page-nav__li"><span class="page-nav__link page-nav__link--start">
      <span class="page-nav__itemcol">
        {{ partial "doc/nav/menu-icon.html" . }}
      </span>
         {{ partial "nav/page/parent-title.html" . }}
      <span class="page-nav__icon page-nav__icon--arrow">
          {{- partial "material-symbol" (dict "id" "empty" "ctx" . "size" "normal") -}}
      </span>
    </span></li>
{{ end }}

{{ define "end" }}
  <li class="page-nav__li"><a href="{{ .RelPermalink }}" class="page-nav__link page-nav__link--next nav__link">
      <span class="page-nav__itemcol">
          {{ partial "doc/nav/menu-icon.html" . }}
      </span>
          {{ partial "nav/page/parent-title.html" . }}
      <span class="page-nav__icon page-nav__icon--arrow">
          {{- partial "material-symbol" (dict "id" "north" "ctx" . "size" "normal") -}}
      </span>
    </a></li>
{{ end }}
