{{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
<ul class="meta__list meta__list--date">
<li class="meta__item meta__date"><span class="meta__icon">{{ partial "material-symbol.html" (dict "id" "event" "ctx" . "size" "tiny") }}</span><time class="meta__text" datetime="{{ .Date.Format $iso8601 }}">{{ .Date.Format "Jan 2, 2006" }}</time>
</li>
</ul>
